/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Ιαν 2015, 6:48:59 μμ
    Author     : Evi
*/

.header {
	position: relative;
	margin: 0 auto;
	display: block;
	height: 40px;
	width: 100%;
	text-align: left;
}